body {
    background-color: black;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}



a {
    color: inherit;
}


span.green {
    font-family: Dejavu Sans Mono;
    color: rgb(0, 255, 42);
    font-size: 20px;
}

span.blue2 {
    font-family: Dejavu Sans Mono;
    color: rgb(75, 201, 255);
    font-size: 20px;
}

div.blue {
    font-family: Dejavu Sans;
    color: rgb(30, 101, 255);
    font-size: 20px;
}


.fa-stack-overflow {
    color: rgb(0, 255, 42);
}

.fa-linkedin {
    color: rgb(0, 255, 42);
}

.fa-github {
    color: rgb(0, 255, 42);
}

.fa-paperclip {
    color: rgb(0, 255, 42);
}